<div class="container">
  <h1>Student Details</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Math</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each students}}
      <tr>
        <th scope="row">{{formatIndex @index}}</th>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.age}}</td>
        <td>{{this.gender}}</td>
        <td>{{this.scores.math}}</td>
        <td><a href="#">Edit</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>